* {
    margin: 0;
    padding: 0;
}

@media (max-width: 299px) and (orientation:portrait) {
    body {
        background-image: url('hero_image_portrait.jpg');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        height: 100vh;
      }

} 


@media (min-width: 300px) and (orientation:portrait){
    body {
        background-image: url('hero_image_portrait.jpg');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        height: 100vh;
      }

} 

@media (min-width: 700px) and (orientation:portrait){
    body {
        background-image: url('hero_image_tab.jpg');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
       
      }

}

@media (max-width: 1999px) and (orientation:landscape) {
    body {
        background-image: url('hero_image_landscape.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
      }

}

@media (min-width: 2000px)and (orientation:landscape) {
    body {
        background-color: lightgray;
        background-image: url('hero_image_landscape.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
      }

}

.revvolutionrecordspresents {
    mask: url(revvolutionrecordspresents.svg);
    display: inline-block;
    width: 1000px;
    height: 300px;
    color: black;
   
    mask-size: cover;
}

.revvolutionrecordspresents:hover,
.iconrevvolutionrecordspresents:focus {
  color: red;
}
